.nav {
  height: 77px;
  background: #f9f9f9;
  box-shadow: 10px 4px 29px rgba(191, 191, 191, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoutContainer {
  margin-right: 40px;
  cursor: pointer;
}

.logout {
  position: absolute;
  right: 0;
  width: 72px;
  z-index: 1;
  text-align: center;
  padding: 10px;
  box-shadow: 9px 9px 32px 4px rgba(219, 219, 219, 0.31);
  cursor: pointer;
}

.logo {
  margin-left: 40px;
}
