.sub_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progress_container {
  border: 3.8px solid #dddddd;
  border-radius: 50%;
  box-sizing: border-box;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
