.sidebar {
  width: 25%;
  margin: auto;
}
.sidebar .list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.sidebar .list a li {
  color: #4d4b4b;
  border-radius: 6.68px;
  text-align: left;
  text-decoration: none;
  padding: 12px;
  list-style: none;
}
.list li {
  color: #4d4b4b;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  font-family: "Inter";
  font-style: normal;
}
.sidebar .list li:hover {
  color: #4d4b4b;
  padding: 12px;
  background: #dfebff;
}
.list ul li:before {
  content: "\2022";
  padding: 0 10px 0 0;
  font-size: 20px;
  display: inline-block;
}
.sidebar .list ul a {
  text-decoration: none;
}
