.resume_container {
  background: #f2f4f7;
  height: 100vh;
}

.resume div {
  width: 166px;
  height: 234px;
  background: #fefefe;
  border: 1px solid #1ea5fc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #403f3f;
}

.create_resume h1,
.my_resume h1 {
  color: #2d2d2d;
  font-weight: 700;
    font-size: 20px;
    margin-bottom: 12px;
}

.resume {
  display: flex;
  flex-direction: column;
  margin-left: 90px;
  margin-top: 20px;
  font-family: "Inter";
}

.container {
  display: flex;
  font-family: "Inter";
}

.options {
  align-self: center;
  margin-top: 30px;
  margin-left: 15px;
}

.create_resume p,
.options p {
  font-weight: 500;
  /* font-size: 16px; */
}

.option {
  display: flex;
  align-items: center;
  margin: 15px 0;
  color: #504e4e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.option:nth-child(4) {
  color: #1ea5fc;
}

.option span {
  margin-left: 10px;
}
.create_resumeicon p{
  text-decoration: none;
}