.form {
  display: flex;
  flex-direction: column;
  width: 20vw;
  margin: 0 35px;
}

.form form {
  display: flex;
  flex-direction: column;
}

.login_msg {
  font-weight: 100;
  font-size: 20px;
  align-self: flex-start;
  color: #1a1a1a;
  font-family: 'Inter', sans-serif;
}

.input {
  height: 48px;
  border: 0.5px solid #e5e5e5;
  border-radius: 6px;
  padding: 0 10px;
  margin: 8px 4px;
  background: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input_box {
  font-size: 15px;
  width: 90%;
  height: 88%;
  border: none;
  outline: none;
  color: #808080;
  background: #f2f2f2;
}

.label {
  color: #333333;
  font-size: 11px;
  letter-spacing: 0.3px;
  align-self: flex-start;
  font-family: 'Inter', sans-serif;
}

.options {
  display: flex;
  justify-content: space-between;
  margin: 10px 2px;
  font-family: 'Inter';
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 20px;
}

.options div {
  display: flex;
  align-items: center;
}

.options label {
  color: #1a1a1a;
  font-weight: 400;
}

.options a {
  color: #1ea5fc;
  text-decoration: none;
  font-weight: 500;
}

.btn {
  background: #1ea5fc;
  height: 40px;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  color: #fff;
  border-radius: 6px;
  border: none;
  outline: none;
  margin: 8px 0;
  cursor: pointer;
}

.toggle {
  background: #f2f2f2;
  width: 32px;
  height: 20px;
  border-radius: 36.5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 2px;
}

.move {
  justify-content: flex-end;
}

.toggle div {
  box-shadow: 1px 1px 2px -1px rgba(51, 51, 51, 0.3);
  width: 16px;
  height: 16px;
  border-radius: 12px;
  background-color: #fff;
}

.remember {
  font-size: 12px;
  line-height: 20px;
}

.forgot {
  color: #1ea5fc;
  user-select: none;
  cursor: pointer;
}

.logoWrapper {
  margin-top: 10px;
}
