.banner {
    background: #F2FAFC;
    width: 80vw;
    height: 100vh;
}

.login {
    display: flex;
}

.signup_msg {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    font-family: 'Inter', sans-serif;
}

.signup_msg a {
    margin-left: 4px;
    color: #1EA5FC;
    text-decoration: none;
}

.signup_msg p {
    margin-right: 4px;
    color: #1A1A1A;
}