.banner {
  background: #f2fafc;
  width: 80vw;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1515378960530-7c0da6231fb1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-size: cover;
}

.login {
  display: flex;
}

.signup_msg {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  font-family: "Inter", sans-serif;
}

.signup_msg a {
  margin-left: 4px;
  color: #1ea5fc;
  text-decoration: none;
}

.signup_msg p {
  margin-right: 4px;
  color: #1a1a1a;
}
.banner img {
  width: 100%;
  height: 100vh;
}
.logoImage {
  height: 70px;
}
