.innerContainer input[type="text"] {
  width: 92%;
  padding: 20px;
  outline: 0;
  border-width: 0 0 1px;
  border-color: #babbbc;
  background: transparent;
}

.container {
  width: 35vw;
  /* margin-top: 30px; */
  border-radius: 5px;
  background: #f2f4f7;
}
.container h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */

  color: #2d2d2d;
  box-sizing: border-box;
  padding: 10px;
}

.row {
  margin: 20px 20px 0px 40px;
  padding: 20px;
}
.disflex {
  display: flex;
}
.disflex input {
  margin-right: 30px;
  width: 40%;
}
/* Clear floats after the columns */

.row h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #7d7d7d;
  text-align: left;
  text-transform: uppercase;
}
.innerContainer {
  width: 35vw;
  margin: 0 auto;
  background: linear-gradient(
    282.82deg,
    rgba(255, 255, 255, 0.56) 19.86%,
    rgba(248, 248, 255, 0.71) 44.92%,
    rgba(255, 255, 255, 0.59) 79.42%
  );

  /* white card shadow */
  box-shadow: 9px 9px 32px 4px rgba(219, 219, 219, 0.31);
  border-radius: 10.7993px;
  margin-top: 6px;
}
.innerContainer ::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #7d7d7d;
  margin-bottom: 2px;
}

/* Experience styling */
.calender {
  display: flex;
}
.disFlex {
  display: flex;
  width: 45%;
}
.disFlex input {
  width: 77%;
  color: #7d7d7d;
}
.ruleIcon {
  margin-top: 20px;
  width: 25px;
  color: #7d7d7d;
  margin-left: 20px;
}
.checkbox {
  float: right;
  padding: 20px;
  color: #7d7d7d;
  font-weight: 500;
  font-size: 14px;
  font-family: "Inter";
}
.arrowIcon {
  color: #7d7d7d;
  margin-top: 13px;
}
.borderBox h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500 !important;
  font-size: 25px;
  margin: 0 auto;
  padding: 20px;
  color: #1ea5fc;
  display: flex;
  justify-content: center;
}
.borderBox {
  width: 35vw;
  height: 59px;
  border: 1px dashed #9f9f9f;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  align-items: center;
  user-select: none;
}
.addIcon {
  font-size: 37px;
  margin-right: 16px;
  margin-top: 3px;
}
.downarrow {
  display: flex;
}
.coverDiv {
  display: flex;
  margin-right: 27px;
}
.edYear {
  width: 100% !important;
  margin-right: -30px;
}

.fullWidth {
  width: 100%;
  display: flex;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
}
